.membership-form {

    max-width: 600px;
    margin: auto;

    display: flex;
    flex-direction: column;

    gap: 15px;
}

.membership-form input,
.membership-form select {

    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 6px;
}

.membership-form button {

    background: #1f5e3b;
    color: white;

    border: none;

    padding: 12px;

    border-radius: 6px;

    cursor: pointer;
}